@font-face{
    font-family:proximaNova;
    src:url(../fonts/proxima-nova-591205acc864f.otf);
}

@font-face {
    font-family: majestiBannerBold;
    src:url(../fonts/Majesti-Banner-Bold.otf);
    font-weight: bold;
}

body{
    font-family: proximaNova, sans-serif;
    background-color:rgb(255, 255, 255);
    cursor:default;
}


.row{
    margin:0;
}


.container{
    padding:0;
}


.opacity-overlay{
    display:none;
    background:rgba(0, 0, 0, 0.6);
    height:100%;
    position:fixed;
    z-index:998;
}

.triangle-left-top{
    position:absolute;
    left:0;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style:solid;
    border-width: 5.1vw 50vw 0 0;
    overflow: hidden;
}

.triangle-right-top{
    position:absolute;
    left:50vw;
    top:0;
    width:0;
    height:0;
    border-style:solid;
    border-width: 0 50vw 5.1vw 0;
    overflow: hidden;
}



.triangles-top-grey {
    position:relative;
    z-index: 99;

    .triangle-left-top{
        border-color: #f5f7f9 transparent transparent transparent;
    }
    .triangle-right-top{
        border-color: transparent #f5f7f9 transparent transparent;
    }
}

.triangles-top-darkGrey {
    position:relative;
    z-index: 99;

    .triangle-left-top{
        border-color: #ccc transparent transparent transparent;
    }
    .triangle-right-top{
        border-color: transparent #ccc transparent transparent;
    }
}

.triangles-top-black {
    position:relative;
    z-index: 99;

    .triangle-left-top{
        border-color: #000 transparent transparent transparent;
    }
    .triangle-right-top{
        border-color: transparent #000 transparent transparent;
    }
}

.triangles-top-white {
    position:relative;
    z-index: 99;

    .triangle-left-top{
        border-color: #fff transparent transparent transparent;
    }
    .triangle-right-top{
        border-color: transparent #fff transparent transparent;
    }
}



.triangle-left-bottom{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    width:0;
    height:0;
    border-style: solid;
    border-width:0 0 5.1vw 50vw;
    border-color:transparent transparent #000 transparent;
    overflow: hidden;
}

.triangle-right-bottom{
    position: absolute;
    left:50vw;
    bottom:0;
    width:0;
    height:0;
    border-style: solid;
    border-width:5.1vw 0 0 50vw;
    border-color:transparent transparent transparent #000;
    overflow: hidden;
}



.triangles-bottom-grey{
    position:relative;
    z-index: 99;

    .triangle-left-bottom{
        border-color:transparent transparent #f5f7f9 transparent;
    }

    .triangle-right-bottom{
        border-color:transparent transparent transparent #f5f7f9;
    }
}

.triangles-bottom-darkGrey{
    position:relative;
    z-index: 99;

    .triangle-left-bottom{
        border-color:transparent transparent #ccc transparent;
    }

    .triangle-right-bottom{
        border-color:transparent transparent transparent #ccc;
    }
}

.triangles-bottom-black{
    position:relative;
    z-index: 99;

    .triangle-left-bottom{
        border-color:transparent transparent #000 transparent;
    }

    .triangle-right-bottom{
        border-color:transparent transparent transparent #000;
    }

}

.triangles-bottom-white{
    position:relative;
    z-index: 99;

    .triangle-left-bottom{
        border-color:transparent transparent #fff transparent;
    }

    .triangle-right-bottom{
        border-color:transparent transparent transparent #fff;
    }
}
