
*{
    -webkit-font-smoothing: antialiased;
    font-smoothing:antiliased;
    box-sizing: border-box;
}

.navbar{
    //padding-bottom:8px;
    padding-top:90px;
    border-bottom:none;
    overflow:hidden;

    background-color:rgba(0, 0, 0, 0);
    z-index: 997;

    a{
        color: set-text-color($main-color) !important;
        font-weight: 400;
    }

    a.active{
        color:$wpfgreen !important;
    }

    ul > li > a:hover{
        color:darken($wpfgreen, 6.5%) !important;
    }

.textinfo {
  font-weight: bold;
}
    .subNav{
        display:none;
        position:fixed;
        height:100px;
        color:#fff;
        background-color: rgb(244, 83, 69);
        min-width:100%;
        left:0;
        padding:0;
        margin-top:3px;
        //opacity:0;
        //-webkit-transition: all 250ms cubic-bezier(0.68, 0.02, 0.46, 0.99);
        //-moz-transition: all 250ms cubic-bezier(0.68, 0.02, 0.46, 0.99);
        //-o-transition: all 250ms cubic-bezier(0.68, 0.02, 0.46, 0.99);
        //transition: all 250ms cubic-bezier(0.68, 0.02, 0.46, 0.99);

        .fake-table{
            display:table;
            width:100%;
            height:100%;

            .fake-cell{
                display:table-cell;
                vertical-align: middle;

                .inner-subNav{
                    padding-right:50px;
                    padding-left: 50px;

                    .subnav-menu{
                        margin:0;
                        padding:0;
                        list-style: none;

                        li{
                            margin-top:0;
                            line-height: 100px;
                            width:20%;
                            float:left;
                            text-align: center;

                            a{
                                position:relative;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    /*
    #brandLogo{
        float:left;
        img{
            //width:100%;
        }
    }
    */
    /*
    #brandLogo p{
        margin:0;
        width:70%;
        text-align: right;
        color:#000;
    }

    #brandLogo > p:nth-child(1){
        font-weight: 500;
        font-size: 1.7em;
    }

    #brandLogo > p:nth-child(2){
        font-weight: 200;
        font-size: 0.9em;
    }
    */
    /*
    #navbar{
        display:flex;
    }

    #navbar > .navbar-left{
        flex-grow:1;
    }

    #navbar > .logo-holder{
        flex-grow: 2;
    }

    #navbar > .navbar-right{
        flex-grow:1;
    }

    #navbar > ul > li{
        margin-left: auto;
        margin-right: auto;
    }

    #navbar > ul > li > a{
        font-size: 1.65rem;
        font-weight: 800;
        padding:4px 6px;
    }

    #navbar > .navbar-left > li{
        width:50%;
        //text-align: center;
    }

    #navbar > .navbar-right > li{
        width:33%;
        //text-align: left;
    }

    #navbar > .navbar-right > li > #getOffert{
        border: 1px solid #fff;
        border-radius:2px;
        text-align: center;
    }

    #navbar > .logo-holder{
        margin-right: auto;
        margin-left: auto;
        display:flex;
        position: relative;
        left: 40px;
    }

    #navbar > .logo-holder > li{
        width:90%;
        top:-20px;

    }

    #navbar > .logo-holder > li > a{
        width:70%;
        margin-left: auto;
        margin-right: auto;

    }
    */

    #navbar{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #navbar > ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    #navbar > ul > li{
        display:flex;
    }

    #navbar > ul > li > a{
        font-size: 1.65rem;
        font-weight: 800;
        padding:4px 6px;
    }

    #navbar > ul > li > #getOffert{
        border: 1px solid #fff;
        border-radius:2px;
        text-align: center;
        line-height: 40px;
        padding:0 20px;
        border-radius: 99em;
    }

    #navbar > ul > li > #getOffert:hover{
        border-color:$wpfgreen;
    }

    #navbar > ul > li > #brandLogo{
        display:flex;
        justify-content: space-between;

        img:nth-of-type(1){
            width:30%;
        }

        img:nth-of-type(2){
            width:66%;
        }
    }

    .fa{
        font-size: 18px;
    }
}


// Navbar On-scroll animatio + design
.shrinkNav{
    padding-top:10px;
    background-color: rgba(0,0,0,0.2);


    #navbar > .logo-holder > li{
        top:-5px;
    }
}

.shrinkLogo{
    font-size: 15px;
}

.navbar, #brandLogo, .shrinkContactInfo{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}


//Navbar On-scroll ends
