body{
    width:100vw;
    margin:0;
    padding:0;
}

#offertLogo{
    position:absolute;
    right:0;
    top:0;
    padding:35px 35px 5px 5px;
    z-index:10000;
}

#underDevelopment{
    background:$wpfgreen;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:9999;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display:none;

    #getBackHome{
        position:fixed;
        top:1em;
        left:1em;
        font-size: 5rem;

        &:hover{
            cursor: pointer;
        }
    }

    article{
        width:80%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;


        h1{
            font-family: majestiBannerBold;
            font-size: 5rem;
            font-weight: 600;
        }

        h2{
            width:60%;
            font-size: 3rem;
            margin-right: auto;
            margin-left: auto;
        }

        figure{
            width:25%;
            margin: 0 auto;
            font-size: 8rem;
            display:flex;
            justify-content: space-around;

            #instagram, #facebook{
                font-size: 8rem;
                background: #1a8c97; /* For browsers that do not support gradients */

                background: -webkit-linear-gradient(#1a8c97, #1a8c97);
                background: -o-linear-gradient(#1a8c97, #1a8c97);
                background: -moz-linear-gradient(#1a8c97, #1a8c97);
                background: linear-gradient(#1a8c97, #1a8c97);

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
            }

            #instagram:hover{
                background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
                background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            #facebook:hover{
                background: -webkit-radial-gradient(#3B5998, #3B5998);
                background: radial-gradient(#3B5998, #3B5998);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}


#brandLogo.offert-page, #brandLogo.special-fitting-page{
    position:fixed;
    top:10px;
    right:10px;
    z-index:150;
    text-align-last: right;
    width:14%;
}

#menu-side-bar{
    /*
    position:relative;
    background:#f5f7f9;
    display:block;
    */

    #side-bar-nav{
        background:#3c4e5a;
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        //height:100%;
        //display:block;
        z-index: 200;
        margin:0;
        padding:0;
        list-style-type: none;
        width:33vw;
        box-shadow: 0 0 2vw rgba(0,0,0, 0.5);

        > li{
            background:#32414b;
            width:25%;
            float:left;
            display:inline-block;

            > a[data-page="offert-page"], a[data-page="fitting-page"]{
                font-family: ProximaNova-Bold,sans-serif, sans-serif;
                font-weight: 400;
                color:rgba(245, 247, 249, 0.8);
                display:block;
                font-size: 0.75em;
                padding:1.8em;
                width:100%;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                outline:0;
                position:relative;
                display:flex;
                flex-direction: column;

                i{
                    color:rgba(245, 247, 249, 0.8);
                    text-align: center;
                    font-size: 3.3em;
                    margin-bottom:0.25em;
                }
            }

            > section{
                position:absolute;
                left:0;
                top:6.1em;
                bottom:0;
                padding:1.2em 1.45em 0 1.45em;
                overflow:scroll;
                overflow-x: hidden;
                z-index: -1;

                .wrapper > .extra-roof-dropBtn{
                    font-size: 1.1em;
                    color:#000;
                    padding:0.8em;
                    position:relative;
                    font-weight: 600;
                    text-decoration: none;
                }

                .fieldsetLabel{
                    color:#05ADAC;
                    padding:0.45em 0;
                    margin:0;
                }

                .fieldsetLabel.roofmat{
                    padding-bottom:0;
                }

                .bandteckning{
                    margin:0;
                    font-size: 0.8em;
                    padding:8px 0;
                }


                .wrapper, .wrapper .extras{
                    margin-top:-0.8em;
                    opacity:0;

                    .back-forth-menu{
                        position:relative;

                        #nextButton1, #nextButton2, #nextButton3{
                            width:25%;
                            background:#05ADAC;
                            margin-bottom:10px;
                            float:right;
                            color:#f5f7f9;
                            border-radius:99em;
                            //text-align: left;
                            text-transform: none;
                            padding:10px 10px 10px 10px;
                            font-weight: 400;
                            font-size: 0.8em;
                        }

                        a:first-child, a:nth-child(2){
                            font-family:ProximaNova-Bold,sans-serif;
                            font-weight: 400;
                            font-size: 0.75em;
                            padding:0.45em 0.625em;
                            border:0;
                            display:block;
                            width:49%;
                            background:rgba(0,0,0,0.2);
                            color:rgba(255, 255, 255, 0.8);
                            text-transform: uppercase;
                            letter-spacing: 0.0625em;
                            text-decoration: none;

                            .fa{
                                font-size: 1em;
                            }
                        }

                        a:first-child:hover,a:nth-child(2):hover{
                            background:rgba(0,0,0,0.5);
                            color:#fff;
                        }

                        a:first-child{
                            text-align: left;
                            float:left;
                        }

                        a:nth-child(2){
                            float:right;
                            text-align: right;
                        }
                    }

                    fieldset{
                        width:100%;
                        border: 1px groove rgba(51, 51, 51, 0.4);
                        border-radius: 1.7px;
                        //border:none;
                        padding:1em;
                        color:#000;
                        margin-bottom:0.6em;
                        background:#fff;


                        #toDoCheckBoxes{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                        }

                        #takModell{
                            display:flex;
                            flex-wrap: wrap;
                            align-content: center;
                            width:100%;

                            input{
                                position:relative;
                                margin:0;
                                padding:0;
                                -webkit-appearance:none;
                                -moz-appearance:none;
                                appearance:none;
                                z-index: -1;
                            }

                            label{
                                //float:left;
                                display:block;
                                color:#f5f7f9;
                                font-size: 14px;
                                position:relative;
                                z-index: 701;
                                cursor:pointer;
                                background-size:cover;
                                background-repeat:no-repeat;
                                width:32%;
                                margin:0 0.5%;
                                -webkit-transition: all 100ms ease-in;
                                -moz-transition: all 100ms ease-in;
                                transition: all 100ms ease-in;
                                opacity:0.7;

                                //-webkit-filter: brightness(1.8) greyscale(1) opacity(0.7);
                                //-moz-filter: brightness(1.8) greyscale(1) opacity(0.7);
                                //filter: brightness(1.8) greyscale(1) opacity(0.7);

                                p{
                                    display:none;
                                    position:absolute;
                                    top:0;
                                    left:0;
                                    right:0;
                                    bottom:0;
                                }


                                img{
                                    width:10px;
                                    height:10px;
                                }

                            }

                            .offert-takmodeller > svg > g > g{

                                text.cls-2, text.cls-5, tspan{
                                    fill:#000;
                                }

                                polygon, path {
                                    transition:200ms;
                                    transition-timing-function: ease-in-out;
                                    -webkit-transition:200ms;
                                    -webkit-transition-timing-function: ease-in-out;
                                    -moz-transition:200ms;
                                    -moz-transition-timing-function: ease-in-out;
                                }

                            }



                            .un{
                                //background:#D24D57;
                                //background:url(../img/taktyper/sadeltak.svg);
                                svg{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#ccc;
                                        }

                                        polygon.cls-4{
                                            fill:#fff;
                                        }
                                    }
                                }
                                svg:hover{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#05ADAC;
                                        }
                                    }
                                }
                            }

                            input:checked + .un{
                                svg{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#26C281;
                                        }

                                        polygon.cls-2{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .deux{
                                //background:#F5D76E;
                                //background:url(../img/taktyper/pulpettak.svg);
                                svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                svg:hover{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#05ADAC;
                                        }
                                    }
                                }
                            }

                            input:checked + .deux{
                                svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#26C281;
                                        }

                                        polygon.cls-3{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .trois{
                                //background:#03C9A9;
                                //background:url(../img/taktyper/Halvvalmat_sadeltak.svg);
                                svg{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#ccc;
                                        }

                                        polygon.cls-4{
                                            fill:#fff;
                                        }
                                    }
                                }
                                svg:hover{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#05ADAC;
                                        }
                                    }
                                }
                            }

                            input:checked + .trois{
                                svg{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#26C281;
                                        }

                                        polygon.cls-2{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .quatre{
                                //background:#663399;
                                //background:url(../img/taktyper/Vinkeltak.svg);
                                svg{
                                    > g > g {
                                        polygon.cls-5{
                                            fill:#ccc;
                                        }

                                        polygon.cls-6{
                                            fill:#fff;
                                        }
                                    }
                                }
                                svg:hover{
                                    > g > g {
                                        polygon.cls-5{
                                            fill:#05ADAC;
                                        }
                                    }
                                }
                            }

                            input:checked + .quatre{
                                svg{
                                    > g > g {
                                        polygon.cls-5{
                                            fill:#26C281;
                                        }

                                        polygon.cls-4{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .cinq{
                                //background:#663399;
                                //background:url(../img/taktyper/Helvalmat_sadeltak.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-4{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .cinq{
                                svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#26C281;
                                        }

                                        polygon.cls-3{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .six{
                                //background:#03C9A9;
                                //background:url(../img/taktyper/Mansardtak.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-3{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .six{
                                svg{
                                    > g > g {
                                        polygon.cls-3{
                                            fill:#26C281;
                                        }

                                        polygon.cls-4{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .sept{
                                //background:#F5D76E;
                                //background:url(../img/taktyper/Halvvalmat_mansardtak.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-4{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .sept{
                                svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#26C281;
                                        }

                                        polygon.cls-3{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .huit{
                                //background:#F62459;
                                //background:url(../img/taktyper/Helvalmat_mansardtak.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-4{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .huit{
                                svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#26C281;
                                        }

                                        polygon.cls-3{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .neuf{
                                //background:#947CB0;
                                //background:url(../img/taktyper/Pyramidtak.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-4{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .neuf{
                                svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#26C281;
                                        }

                                        polygon.cls-3{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .dix{
                                //background:#52B3D9;
                                //background:url(../img/taktyper/Valmat_pyramidtak.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-6{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-6{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }

                            }

                            input:checked + .dix{
                                svg{
                                    > g > g {
                                        polygon.cls-6{
                                            fill:#26C281;
                                        }

                                        polygon.cls-4, polygon.cls-5{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .onze{
                                //background:#336E7B;
                                //background:url(../img/taktyper/Motfallstak.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-4{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .onze{
                                svg{
                                    > g > g {
                                        polygon.cls-4{
                                            fill:#26C281;
                                        }

                                        polygon.cls-3{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .douze{
                                //background:#3A539B;
                                //background:url(../img/taktyper/Korstak.svg);
                                > svg{
                                    > g > g {
                                        path.cls-5{
                                            fill:#ccc;
                                        }

                                        path.cls-6{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         path.cls-5{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .douze{
                                svg{
                                    > g > g {
                                        path.cls-5{
                                            fill:#26C281;
                                        }

                                        path.cls-4{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .treize{
                                //background:#91B496;
                                //background:url(../img/taktyper/Bagtak.svg);
                                > svg{
                                    > g > g {
                                        path.cls-4{
                                            fill:#ccc;
                                        }

                                        polygon.cls-5{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         path.cls-4{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .treize{
                                svg{
                                    > g > g {
                                        path.cls-4{
                                            fill:#26C281;
                                        }

                                        path.cls-3, polygon.cls-3{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }

                            .quartoze{
                                //background:#86E2D5;
                                //background:url(../img/taktyper/Kyrktorn.svg);
                                > svg{
                                    > g > g {
                                        polygon.cls-5, path.cls-5{
                                            fill:#ccc;
                                        }

                                        polygon.cls-6{
                                            fill:#fff;
                                        }
                                    }
                                }
                                 > svg:hover{
                                     > g > g {
                                         polygon.cls-5, path.cls-5{
                                             fill:#05ADAC;
                                         }
                                     }
                                 }
                            }

                            input:checked + .quartoze{
                                svg{
                                    > g > g {
                                        polygon.cls-5, path.cls-5{
                                            fill:#26C281;
                                        }

                                        polygon.cls-4{
                                            fill:#EEEEEE;
                                        }
                                    }
                                }
                            }
                        }

                        .input-Holder{
                            display:flex;
                            flex-direction: column;
                            padding:0.46em;
                            position:relative;
                            z-index:701;

                            label{
                                margin-bottom:5px;
                                color:#000;
                                font-size: 14px;
                            }

                            label > details > summary{
                                outline: none;
                            }

                            label > details > summary::-webkit-details-marker{
                                font-size: 90%;
                            }

                            label > details > p{
                                margin:0;
                                font-size: 0.8em;
                            }

                            input{
                                margin-bottom:10px;
                                border:1px solid #ccc;
                                border-radius:8px;
                                font-size: 14px;
                                padding:10px;
                                width:100%;
                            }

                            #offert-roofHeight{
                                margin:0 0 0.56em 0;
                            }
                        }

                        > div{

                            table{
                                width:100%;
                                border-collapse:collapse;
                                background:#fff;
                                text-align: center;

                                tbody{
                                    display:table-row-group;
                                    vertical-align: middle;
                                    border-color:inherit;
                                    border:1px solid #fff;

                                    tr{
                                        padding:5px;
                                        margin:1px;

                                        td{
                                            border:5px solid #fff;
                                            background:rgba(0, 0, 0, .2);
                                            font-size: 14px;
                                        }

                                        td.item{
                                            text-align: left;
                                            padding-left:20px;
                                            font-size: 14px;
                                        }

                                        a{
                                            display:block;
                                            color:#fff;
                                            padding:5px;
                                            text-decoration: none;
                                            background-color:transparent;
                                            text-align: center;
                                        }

                                        a:hover{
                                            background:rgba(0,0,0,0.5);
                                        }
                                    }
                                }
                            }

                            > #roofWhatMonthToBegin{


                                height:2.5em;
                                margin-bottom:10px;
                                font-size: 0.875em;
                                color:#000;
                                background-color:#fff;
                                border:1px solid #ccc;
                                border-radius:8px;
                            }
                        }

                        > #roofExtraMessage{

                            textarea{
                                padding:10px;
                                margin-bottom:10px;
                                font-size: 0.875em;
                                color:#000;
                                background-color:#fff;
                                border:1px solid #ccc;
                                border-radius: 8px;
                            }
                        }
                    }

                    .box-Holder{
                        display:flex;
                        align-content: center;
                        width:50%;
                        color:#000;

                        input[type="checkbox"],
                        input[type="radio"]{
                            position:absolute;
                            opacity:0;
                            z-index:-1;
                        }

                        label{
                            position:relative;
                            display:inline-block;
                            margin-right:10px;
                            margin-bottom:10px;
                            padding-left:30px;
                            padding-right:10px;
                            line-height: 36px;
                            vertical-align: middle;
                            cursor:pointer;
                            z-index: 701;
                            font-size: 14px; //changed
                            color:#000; //changed
                        }

                        label::before{
                            content:' ';
                            position:absolute;
                            top:6px;
                            left:0;
                            display:block;
                            width:24px;
                            height:24px;
                            border:2px solid #4a4a4a;
                            border-radius:4px;
                            z-index: -1;
                        }

                        input[type="radio"] + label::before{
                            border-radius: 18px;
                        }

                        input[type="checkbox"]:checked + label,
                        input[type="radio"]:checked + label{
                            padding-left:10px;
                            color:#f5f7f9;
                        }

                        input[type="checkbox"]:checked + label::before,
                        input[type="radio"]:checked + label::before{
                            top:-1.5px;
                            width:100%;
                            height:100%;
                            border-color: #05ADAC;
                            background: #05ADAC;
                        }

                        label, label::before{
                            -webkit-transition: 0.25s all ease;
                            -moz-transition: 0.25s all ease;
                            transition: 0.25s all ease;
                        }

                        input[type="checkbox"]:disabled + label, input[type="checkbox"]:disabled + label::before{
                            opacity:0.5;
                            cursor:default;

                        }
                    }

                    #roofMaterial, #roofToWho{
                        display:flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        .box-Holder{
                            width:50%;
                        }
                    }

                    #waterCheckBoxes > .box-Holder, #roof-security > .box-Holder, #roofPaperAndScaffold > .box-Holder, #roof-garnish > .box-Holder, #roof-extras > .box-Holder{
                        float:left;
                    }

                    #standardized-obstacles{
                        display:flex;
                        flex-direction: column;
                        padding: 0 20px;

                        h4{
                            margin:0;
                            padding:3px;
                            border-bottom: 1px solid #ababab;
                        }

                        .standard-explanation{
                            width:100%;

                            #standard-obstacle-list{
                                padding:20px 0px 20px 20px;
                                list-style: disc;

                                li{
                                    margin-bottom:12px;
                                    font-size: 14px;
                                    color:#000;
                                }
                            }
                        }

                        .standard-choices{
                            display:flex;
                            flex-direction: row;
                            flex:calc(100% / 3);
                            //justify-content: space-between;
                            padding:10px 0 25px;

                            .box-Holder{
                                display:flex;
                                width:100%;
                                justify-content: center;
                            }
                        }

                        > div > p {
                            font-size: 14px;
                            color:#000;
                            line-height: 20px;
                        }
                    }
                }

                .wrapper .extras{
                    transition: all 0.5s ease;
                    position:relative;
                    z-index: -1;
                }

                .wrapper .extras .roofBushing{
                    padding-top:1.4em;
                }

                .wrapper .offert-summary {

                    p{
                        font-size: 15px;
                        line-height: 20px;
                    }

                    .obsticle-summary{
                        list-style: none;
                        font-size: 14px;
                        margin:0;
                        padding:0;
                    }

                    .obsticle-summary > li{
                        padding: 0.6em 0;
                        font-weight: 600;

                        > span{
                            font-weight: 400;
                        }
                    }

                    .offert-suggestion{
                        padding-bottom:2em;
                    }

                    .summaryHeading{
                        border-bottom: 1px solid #ccc;
                        color:#000;
                        margin:1em 0;
                    }

                    fieldset > #roof-summary, fieldset > #contact-summary{
                        color:#000;
                        margin-bottom: 0.5em;

                        ul{
                            font-size: 14px;
                            list-style: none;
                            margin:0;
                            padding:0;
                        }

                        ul > li {
                            font-weight: 600;
                            padding:0.6em 0;
                        }

                        ul > li > span{
                            font-weight: 400;
                        }
                    }

                    fieldset > h4{
                        border-bottom:1px solid #000;
                        padding-bottom:2px;
                        margin-bottom:0.5em;
                        margin-top:0.8em;
                        font-size: 17px;
                    }

                    .suggestion-content > p{
                        margin:0;
                    }

                    #price-suggestion{
                        display: inline-block;
                        font-size: 16px;
                        padding:0.8em;
                        border:1px solid #666;
                        border-radius: 1.45px;
                        background:#fff;
                        max-width: 45%;
                        min-width: 40%;
                        color:#000;
                        margin:0;
                        font-weight: 600;
                        margin-top:7px;
                    }

                    #logisticCosts{
                        display:inline-block;
                        font-size: 16px;
                        padding:0.8em 0 0.8em 0.8em;
                        max-width: 50%;
                        min-width: 42%;
                        margin:7px 0 0 0;
                        color:#000;
                        font-weight: 600;
                    }
                }
            }
        }

        a[data-page="offert-page"].activated{
            background:#f5f7f9;
            color:rgba(74, 74, 74, 0.8);

            ~ section{
                background:#f5f7f9;
                color:#000;
            }

            i{
                color:rgba(74, 74, 74, 0.8);
            }
        }

        a.activated{

            ~ section{
                color:#f5f7f9;
                z-index:705;

                > .wrapper,
                > .wrapper .extras.showing{
                    //display:block;
                    transition: all 0.6s ease;
                    margin-top:0px;
                    opacity:1;
                    z-index:705;

                    fieldset text-area{
                        text-align: left !important;
                    }

                    .caret-up{
                        display: inline-block;
                        width:0;
                        height:0;
                        margin-left:2px;
                        vertical-align: middle;
                        border-bottom:4px dashed;
                        border-right: 4px solid transparent;
                        border-left:4px solid transparent;
                    }
                }
            }
        }

        > li:first-child{
            border-left:0;
        }
    }
}

main{
    display:none;
    padding-left:32%;

    .container{
        width:100%;
        //padding:8% 10% 4%;
        transition:all 0.3s ease;
    }
}

#side-content1 > .container{
    position:relative;
    z-index: 2;

    figure{
        position:absolute;
        width:45%;
        margin:10% 27.5%;
        opacity:0;
        transition:200ms;
        transition-timing-function: ease-in-out;
        -webkit-transition:300ms;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition:300ms;
        -moz-transition-timing-function: ease-in-out;
    }

    img{
        display: none;
    }

    figure > svg{
        //position:absolute;

        > g > g > rect.cls-1{
            fill-opacity:0.2;
        }

        > g > g >text, > g > g > text > tspan{
            fill:#6d6d6d;
            stroke:#6d6d6d;
            stroke:none;
            display:none;
        }
    }

    figure > figcaption{

        h2{
            font-family: majestiBannerBold;
            margin-top:0;
            margin-bottom:5px;
        }

        p{
            font-size: 16px;
            margin:0;
            line-height: 22px;
        }

    }

    figure.roof-showing{
        opacity:1;
    }

    .tak1 > svg{
        > g > g{
            polygon.cls-4{
                fill:#26C281;
            }
            polygon.cls-6{
                fill:#EEEEEE;
            }
            polygon.cls-4{
                fill:#fff;
            }
        }
    }

    .tak2 > svg{

        > g > g{
            polygon.cls-4{
                fill:#26C281;
            }
            polygon.cls-3{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak3 > svg{

        > g > g{
            polygon.cls-3{
                fill:#26C281;
            }
            polygon.cls-2{
                fill:#EEEEEE;
            }
            polygon.cls-4{
                fill:#fff;
            }
        }
    }
    .tak4 > svg{

        > g > g{
            polygon.cls-5{
                fill:#26C281;
            }
            polygon.cls-4{
                fill:#EEEEEE;
            }
            polygon.cls-6{
                fill:#fff;
            }
        }
    }
    .tak5 > svg{

        > g > g{
            polygon.cls-4{
                fill:#26C281;
            }
            polygon.cls-3{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak6 > svg{

        > g > g{
            polygon.cls-3{
                fill:#26C281;
            }
            polygon.cls-4{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak7 > svg{

        > g > g{
            polygon.cls-4{
                fill:#26C281;
            }
            polygon.cls-3{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak8 > svg{

        > g > g{
            polygon.cls-4{
                fill:#26C281;
            }
            polygon.cls-3{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak9 > svg{

        > g > g{
            polygon.cls-4{
                fill:#26C281;
            }
            polygon.cls-3{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak10 > svg{

        > g > g{
            polygon.cls-6{
                fill:#26C281;
            }
            polygon.cls-4, polygon.cls-5{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak11 > svg{

        > g > g{
            polygon.cls-4{
                fill:#26C281;
            }
            polygon.cls-3{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak12 > svg{

        > g > g{
            path.cls-3{
                fill:#d6d6d6;
            }
            path.cls-4{
                fill:#EEEEEE;
            }
            path.cls-6{
                fill:#fff;
            }
        }
    }
    .tak13 > svg{

        > g > g{
            path.cls-4{
                fill:#26C281;
            }
            polygon.cls-3, path.cls-3{
                fill:#EEEEEE;
            }
            polygon.cls-5{
                fill:#fff;
            }
        }
    }
    .tak14 > svg{

        > g > g{
            polygon.cls-5, path.cls-5{
                fill:#26C281;
            }
            polygon.cls-4{
                fill:#EEEEEE;
            }
            polygon.cls-6{
                fill:#fff;
            }
        }
    }
}

main > .background-content{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}

#side-content1 > .background-content {
    background:url("../img/pic-7.svg");
    background-size:32%;
    background-repeat: no-repeat;
    background-position: 48% 98%;
    opacity:0.06;
}

#side-content2 > .background-content {
    background:url("../img/pic-9.svg");
    background-size:32%;
    background-repeat: no-repeat;
    background-position: 60% 98%;
    opacity:0.06;

}

#side-content3 > .background-content {
    background:url("../img/pic-1.svg");
    background-size:32%;
    background-repeat: no-repeat;
    background-position: 50% 98%;
    opacity:0.06;
}

#side-content1.showing, #side-content2.showing, #side-content3.showing,{
    display:block;
}

#checkout-wrapper > .background-content{
    //display:flex;
    //justify-content: flex-end;
    //align-content: flex-end;
    img{
        width:20%;
    }
}


#checkout-wrapper{

    .container{
        margin-top:-10px;
        opacity:0;
        transition: all 0.3s ease;

        header{
            text-align: center;

            h3{
                font-size: 30px;
                font-weight: 400;
                margin:115px 0 5px 0;
            }
            p{
                font-family: ProximaNova-Thin, sans-serif;
                font-weight: 200;
                max-width: 500px;
                margin:0 auto;
                font-size: 14px;
                letter-spacing: .5px;
                line-height: 20px;

                span{
                    font-weight: 600;
                }
            }
        }

        .offert-process{
            text-align: center;
            padding:10px 0;
            max-width:600px;
            margin:5px auto 0;
            border-bottom:1px solid #666;
            //display: flex;

            .row{
                display:flex;
                justify-content: space-between;

                div{
                    width:33.33%;
                }
            }

            i {
                font-size: 30px;
                margin-bottom:10px;
            }

            h5{
                font-size: 12px;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 1px;
                color:#000;
                margin-bottom:10px;
            }
        }

        .offert-contact-info{
            margin:30px auto 0;

            > .row {
                position:relative;
                overflow:hidden;
                margin-left: 0;
                margin-right: 0;
                z-index:-1;

                > div {
                    position:relative;
                    padding:20px 100px 30px 100px;
                    width:80%;
                    margin-left: auto;
                    margin-right: auto;

                    > form {

                        > h4{
                            font-weight: 800;
                            border-bottom:1px solid #666;
                            padding-bottom:5px;
                            margin-bottom:20px;
                            font-size: 12px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            color:#000,
                        }

                        .row{
                            color:#000;
                            font-size: 14px;
                            display:flex;
                            justify-content: space-between;
                            flex-wrap: nowrap;

                            > div{
                                display: flex;
                                flex-direction: column;
                                width:100%;

                                label{
                                    margin-bottom:5px;

                                    span{
                                        color:#f5f7f9;
                                    }
                                }

                                input{
                                    margin-bottom:10px;
                                    border:1px solid #ccc;
                                    border-radius:8px;
                                    font-size: 14px;
                                    padding:10px;
                                    width:100%;
                                }

                            }
                        }

                        .twos{

                            > div{
                                width:47.5%;

                            }
                        }
                    }
                }

                > #offert-submit-holder{
                    overflow:hidden;
                    padding:0;

                    > div{
                        text-align: center;

                        #submit-offert{
                            position:relative;
                            background:#05ADAC;
                            color:#f5f7f9;
                            border-radius:99em;
                            text-align: left;
                            text-transform: none;
                            padding:15px 50px 15px 70px;
                            font-weight: 400;
                            cursor:pointer;
                            z-index: -1;

                            i{
                                position:absolute;
                                color:#fff;
                                font-size: 20px;
                                top:50%;
                                transform:translateY(-50%);
                                left:25px;
                            }

                            strong{
                                display:block;
                                font-size: 400;
                                font-size: 16px;
                            }
                        }

                        #submit-offert:disabled{
                            opacity:0.4;
                            cursor:default;
                        }
                    }
                }
            }
        }
    }
}

#checkout-wrapper.showing{
    display:block;

    .container{
        overflow: hidden;
        opacity:1;
        margin-top:0;
        transition: all 0.5s ease;
    }

    .offert-contact-info > .row{
        z-index:705;

        #offert-submit-holder{

            > div > #submit-offert{
                z-index:705;
            }
        }
    }
}
