

.showcase{
    padding:0;

    .container{

        #getInTouch{
            position:absolute;
            top:0;
            right:0;
            display:flex;
            flex-direction: row;
            list-style: none;
            justify-content: flex-end;
            padding:10px;
            width:37%;
            z-index: 1001;

            > li{
                width:33%;
            }

            > li > figure{
                display: flex;
                flex-direction: row;
                width:100%;
                align-items: center;

                i{
                    font-size: 2.2rem;
                    padding:5px;
                    color:#ddd;
                }

                figcaption{
                    width:80%;

                    p{
                        margin:0;
                    }
                    p:nth-child(1){
                        font-size: 1.2rem;
                        font-weight: 800;
                        padding-top:5px;
                    }
                    p:nth-child(2){
                        font-size: 1rem;
                        font-weight: 400;

                        a{
                            color:#fff;
                            font-weight: 600;
                        }

                        a:hover{
                            color:#2ABFBF;
                            cursor: pointer;
                        }
                    }
                }
            }

            > li:nth-child(2){

                figure{
                    width:90%;
                    padding-left:5%;
                }
            }

            > li:nth-child(3){
                margin-top:10px;

                figure{
                    width:90%;
                    padding:0 0 0 10%;
                    border-left:1px solid #ddd;

                    > a {
                        margin:0;
                    }

                    > a > i{
                        padding:0 0 0 20px;
                    }

                    > a:hover > i{
                        color:#2ABFBF;
                    }
                }
            }
        }
    }

    .container.index-page > #getInTouch{
        color:#ddd;
    }

    .container.about-page > #getInTouch{
        color:#fff;

        i {
            color:#fff;
        }
    }

    .container.services-page > #getInTouch{
        color:#fff;

        i{
            color:#fff;
        }
    }

    .index-page{
        margin:0;
        width:100%;
        height:110vh;
        padding:30px 0;
        background:url(../img/startpage/landingpage/startsida_wpf.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;

        > article{
            width:50%;
            padding:27em 5em 5em 7em;
            color:#fff;
            font-weight: 800;

            h1{
                font-size: 9rem;

                span{
                    color:#2ABFBF;
                }
            }

            p{
                font-size: 2.6rem;
                margin:0;
            }
        }
    }

    .products-page, .systems-page, .offert-page{
        background:url(../img/showcase.) no-repeat 0 -100px;
        margin:0;
        width:100%;
        height:70vh;
        padding:30px 0;

        .about-page-header, .products-page-header, .offert-page-header{
            width:100%;
            color:#fff;
            text-align: center;
            position:relative;
            top:35%;

            h2{
                margin:0;
            }
        }
    }

    .about-page{
        background:url(../img/about/om1.jpg) no-repeat 0 -75px;
        background-size: cover;
        margin:0;
        width:100%;
        height:105vh;
        padding:30px 0;

        > article{
            width:50%;
            padding:17em 5em 5em 7em;
            color:#fff;
            font-weight: 800;
            position: absolute;
            right:0;

            h1{
                font-weight: 600;
                font-size: 2.7rem;
                margin:0;
            }
            h2{
                font-weight: 600;
                font-size: 4.2rem;
                margin-bottom:5px;
                margin:0;
            }

            p{
                font-size: 1.9rem;
                margin:0 0 20px 0;
            }

            a{
                background:#2ABFBF;
                padding:15px 38px 15px 38px;
                border-radius: 20px;
                color:#fff;
                font-size: 0.8em;
            }
        }
    }

    .services-page{
        background:linear-gradient(180deg, rgba(245, 247, 249, 0) 0%, rgba(245, 247, 249, 1) 100%), url(../img/services/takochfasad1.jpg) no-repeat 0 -75px;
        background-size: cover;
        margin:0;
        width:100%;
        height:95vh;
        padding:30px 0;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:0;

        > article{
            width:45%;
            text-align: center;
            color:#fff;
            font-weight: 600;

            h1{
                font-size: 4rem;
                font-family: majestiBannerBold;
            }

            p{
                font-size: 2rem;
            }
        }
    }
}


.section-icons{
    padding:0;

    ul{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        width:80%;
        height:8vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:0%;
        padding-left:0;

        > li{
            display:flex;
            width:20%;
            text-align: center;
        }

        > li > figure{
            display:flex;
            flex-direction: column;
            justify-content: center;
            width:100%;
        }

        > li:nth-child(1){
            align-self:flex-end;
        }
        > li:nth-child(2){
            align-self: center;
        }
        > li:nth-child(3){
            align-self: flex-start;
        }
        > li:nth-child(4){
            align-self: center;
        }
        > li:nth-child(5){
            align-self:flex-end;
        }

        > li > figure > img{
            padding-bottom:3px;
            width:22%;
            margin-right: auto;
            margin-left: auto;
        }
        > li > figure > figcaption{
            font-weight: 800;
            color:#000;
        }
    }

}

.section-a{
    padding:0;
    text-align: center;
    //background:url(../img/showcase.jpeg);
    //background:url(../img/showcase.jpeg), linear-gradient(#eb01a5, #d13531);

    .container{
        margin:0;
        width:100%;
    }

    .index-page{
        //Index Page
        background-color: #f5f7f9;

        .row{
            display:flex;
            flex-direction: row;
            align-items: center;

            figure, article{
                padding:0;
                text-align: justify;
            }

            article{
                display:flex;
                flex-direction: column;
            }

            article strong, article em{
                color:#2ABFBF;
                font-style: normal;
            }

            article > h1, article > p, article > a{
                width:70%;
                margin: 0 auto;
            }

            article > h1{
                color:#6F7C82;
                font-weight: 800;
            }

            article > h1:nth-child(2){
                margin-bottom:10px;
            }

            article > p {
                line-height: 2.1rem;
                font-weight: 400;
                color:#6F7C82;
            }

            article > .whys{
                padding:17px 0;
                font-size: 1.8rem;
            }

            article > p strong, article > p em{
                color:#2ABFBF;
            }

            article > p > .whyBtn{
                padding:8px 25px;
                background-color:#2ABFBF;
                color:#fff;
                width:auto;
                border:2px solid #2ABFBF;
                border-radius:9px;
                font-size: 1.2rem;
                font-weight: 600;
                box-shadow: 0px 3px 10px #888888;
                transition: all 0.3s ease-in-out;
            }

            article > p > .whyBtn:hover{
                background-color:darken(#2ABFBF, 0.3);
                box-shadow: 0px 3px 6px #888888;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }

            figure > img{
                width:100%;
            }
        }
    }

    .about-page{
        background-color:#F5F7F9;
        //background-image: url(../img/geometry2.png);
        text-align: left;

        .about-wpf-1{
            background-color:#fff;
            background-image: url(../img/about/om2.jpg);
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            color:#fff;
            padding: 4.5rem 4.2rem;
            width:70%;
            position:absolute;
            top:-15rem;
            left:15%;
            z-index: 100;
            min-height:100%;


            h3{
                font-size: 3.5rem;
                font-weight: 600;
            }

            h2{
                font-size: 5.2rem;
                font-weight: 600;
                margin:0.2rem 0 3rem 0;
            }

            p{
                width:100%;
            }
        }

        .about-wpf-2{
            width:55%;
            padding:4.5rem 3rem;
            margin:5% 15%;
            border:12px solid #2ABFBF;

            img{
                width:120%;
                position:relative;
                left:-32%;
            }

            figcaption{

                h2, p {
                    font-weight: 600;
                    font-size: 2.5rem;
                }

                p{
                    line-height: 1em;
                }
            }
        }
    }

    .services-page{
        padding:0;
        width:100%;

        .row{
            display:flex;
            flex-direction: row-reverse;

            article{
                width:50%;
                padding:7em;
                margin-top:1em;
                text-align: left;

                h1{
                    margin:0;
                    color:$wpfGrey-dark;
                }

                h1:first-child{
                    margin-bottom:0.3em;
                }

                h1:nth-child(2){
                    margin-bottom:1em;
                }

                em{
                    color:$wpfgreen;
                    font-weight: 600;
                    font-style: normal;
                }

                strong{
                    font-weight: 600;
                }

                > p{
                    color:$wpfGrey-dark;
                    margin-bottom:1.6em;
                    font-size: 1.6rem;
                    width:100%;

                    a{
                        background:$wpfgreen;
                        padding:1.3em;
                        border-radius: 1.8em;
                        color:#fff;
                        font-size: 1.3rem;
                        font-weight: 600;
                        width:50%;
                        margin-left: auto;
                        margin-right: auto;
                        box-shadow: 0px 3px 10px #888888;
                    }
                }

                p:nth-child(7){
                    text-align: center;
                }
            }

            figure{
                width:50%;
                padding:0;
            }

            figure > img{
                width:100%;
            }
        }
    }
}


.section-b{
    //padding-top:7%;
    padding:0;
    text-align: center;
    padding-bottom:4%;

    .container{
        margin:0;
        width:100%;
    }

    .index-page, .services-page{
        background-color:#fff;

        .content{
            width:70%;
            margin:0 auto;
            color:#6F7C82;

            > h3{
                font-weight: 800;
                margin-bottom:15px;

                strong{
                    color:#2ABFBF;
                }
            }

            > p{
                width:72%;
                margin:0 auto;
                font-size: 1.6rem;
                font-weight: 400;

                strong{
                    font-weight: 600;
                }

                em{
                    color:$wpfgreen;
                    font-style: normal;
                }
            }

            .process-overlay{
                padding-bottom:2em;
                transition: all 0.8s ease-in-out;
            }

            .process-overlay > .overlay-intro{
                position:absolute;
                bottom:-13px;
                left:37.5%;
                color:#000;
                width:25%;
                margin-left: auto;
                margin-right: auto;
                font-size:1.6rem;
                z-index: 98;

                > p{
                    opacity:1;
                    transition: all 0.8s ease-in-out;
                }

                p > em{
                    color:#2ABFBF;
                    font-style: normal;
                }

                a{
                    display:inline;
                    background:#2ABFBF;
                    padding:3px 12px;
                    border-radius: 50px;
                    font-size: 50px;
                    margin:20px;
                    color:#fff;
                    box-shadow: 0px 3px 10px #888888;
                }

                a:hover{
                    background: darken(#2ABFBF, 0.8);
                }

                a > i{
                    transition: transform 0.3s ease-in-out;
                    transform: rotate(0deg);
                }
            }

            .process-overlay.showing{
                padding-bottom:5em;
                transition: all 0.8s ease-in-out;

                .overlay-intro{

                    > p{
                        opacity:0;
                        transition: all 0.8s ease-in-out;
                    }

                    a > i{
                        transition: transform 0.3s ease-in-out;
                        transform: rotate(180deg);
                    }
                }
            }

            //process hidden
            .process-overlay > .overlay-content{
                height:7vw;
                opacity:0.05;
                transition: all 0.8s ease-in-out;
            }

            //process is showing
            .process-overlay.showing > .overlay-content{
                height:110vw;
                opacity:1;
                transition: all 0.8s ease-in-out;
            }

            .process-overlay figure {
                width:90%;
                padding:20px;
                margin-left: auto;
                margin-right: auto;
            }

            .process-overlay figure > #SixStepProcess{
                margin-right: auto;
                margin-left: auto;
                margin-bottom:10px;
            }

            .process-overlay #consultation_card{
                display:flex;
                flex-direction: row;
                width:90%;
                margin:20px auto ;
                padding:3em 3.5em;
                box-shadow: 0px 3px 10px #888888;

                figure{
                    padding:0;
                    padding-right:1.5em;

                    img{
                        width:70%;
                    }
                }

                article{
                    text-align: left;

                    h3{
                        margin:0 0 10px 0;
                        text-align: left;
                        color:#000;
                        font-size: 1.8rem;
                    }

                    p{
                        font-size: 1.4rem;
                        line-height: 1.5em;
                        margin-bottom: 20px;

                        em{
                            font-style: normal;
                            color:#2ABFBF;
                        }
                    }

                    .Btn-holder{
                        margin-top:35px;
                        margin-bottom:0px;
                    }

                    .Btn-holder > .consultationBtn{
                        padding:8px 25px;
                        background-color:#2ABFBF;
                        color:#fff;
                        width:auto;
                        border:2px solid #2ABFBF;
                        border-radius:9px;
                        font-size: 1.2rem;
                        font-weight: 600;
                        box-shadow: 0px 3px 10px #888888;
                        transition: all 0.3s ease-in-out;
                    }

                    .Btn-holder > .consultationBtn:hover{
                        background-color:darken(#2ABFBF, 0.3);
                        box-shadow: 0px 3px 6px #888888;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    .about-page{
        background:#f5f7f9;
        background:linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url(../img/about/om3.jpg) no-repeat 0 -200px;
        background-size: cover;

        .about-content{
            padding:7% 0 10% 0;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: justify;
            color:#fff;

            > h2{
                font-size: 3rem;
                font-weight: 600;
                text-align: center;
                margin-bottom:40px;
            }

            > p{
                font-size: 2rem;
                margin-bottom:30px;
            }

            article{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 1.6rem;
                margin-bottom:30px;

                > div{
                    width:47.5%;

                    em{
                        font-weight: 600;
                        font-style: normal;
                    }
                }
            }

            h3{
                font-size: 2.8rem;
                text-align: center;
                margin-bottom:20px;
            }

            a{
                background:#2ABFBF;
                padding:10px 20px;
                border-radius: 28px;
                width:20%;
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                color:#fff;
                font-size: 1.6rem;
            }
        }
    }

}

.section-b.about-section{
    background: #F5F7F9;
}


.location-section{
    padding:0;
    margin:0;

    .container{
        padding:0;
        margin:0;
        width:100%;

        .row{
            width:100%;
            display:flex;
            flex-direction: row;
            justify-content: center;
            overflow:hidden;

            > figure{
                width:50%;
                height:5vw;

                img{
                    width:100%;
                }
            }

            > article{
                display:flex;
                flex-direction: column;
                overflow: hidden;
                width:50%;
                background:#fff;
                padding:6em 9em 6em 6em;
                text-align: left;

                > h2{
                    color:$wpfGrey-dark;
                    font-weight: 600;
                    margin-bottom:0.5em;

                    strong{
                        color:$wpfgreen;
                    }
                }

                p{
                    font-size: 1.2em;
                }

                ul{
                    list-style: none;
                    padding:0;
                    margin-top:3em;

                    li{
                        width:100%;
                        display:flex;
                        flex-direction: row;
                        margin-bottom:0.6em;

                        i{
                            width:5%;
                            font-size: 2.2rem;
                            color:$wpfgreen;
                        }

                        p{
                            width:65%;
                            margin-left:10px;
                            font-size: 1.5rem;
                        }
                    }
                }

                .social-media{
                    display:flex;
                    flex-direction: row;
                    margin-top:2em;
                    align-items: center;

                    p{
                        font-size: 1.8rem;
                        font-weight: 600;
                        padding: 5px;
                        margin:5px;
                    }

                    a{
                        color:$wpfgreen;
                        font-size: 2em;
                        padding:5px;
                        margin:5px;

                    }

                    a:hover{
                        color:$wpfgreen-dark;
                    }
                }
            }
        }
    }
}

.price-section{
    padding:0;
    margin:0;

    .container{
        padding:0;
        margin:0;
        width:100%;

        .row{
            width:100%;
            display:flex;
            flex-direction: row;
            justify-content: center;

            > figure{
                width:50%;

                > img{
                    width: 100%;
                }

            }
            > article{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width:50%;
                background-image: url(../img/startpage/Rectangle_5_Copy.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                color:#fff;
            }

            h2, h5{
                font-weight: 800;
            }

            h2 > strong{
                color:#2ABFBF;
            }

            > article:after{
                content: "";
                display:block;
                width:100%;
                height:100%;
                background-color:rgba(0,0,0,0.7);
                position:absolute;
                opacity:0.1;
                top:0;
                left:0;
                z-index:1;
            }

            *{
                position:relative;
                z-index: 2;
            }

            .content-holder{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                padding:4em;

                > figure{
                    display:flex;
                    flex-direction: row;
                    width:50%;
                    padding:10px;
                    align-items: flex-start;

                    > img{
                        padding:7px;
                        width:43%;
                    }

                    > figcaption{
                        padding:5px;

                        h4{
                            margin:10px 0 10px 0;
                            font-weight: 800;
                        }

                        p{
                            font-weight: 600;
                            font-size: 1.1em;
                        }
                    }
                }

                > p{
                    width:58%;
                    text-align:center;
                    font-weight: 600;
                    padding-bottom:15px;

                    > a{
                        padding:10px 27px;
                        background-color:#2ABFBF;
                        color:#000;
                        width:auto;
                        border:2px solid #2ABFBF;
                        border-radius:13px;
                        font-size: 1.3rem;
                        font-weight: 600;
                        box-shadow: 0px 3px 15px #000;
                        transition: all 0.3s ease-in-out;
                    }

                    > a:hover{
                        background-color:darken(#2ABFBF, 0.3);
                        box-shadow: 0px 3px 6px #000;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}


.section-c{
    padding:0;

    .container{
        margin:0;
        width:100%;
        padding-bottom:7%;
    }

    .index-page{
        background-color: rgb(255, 255, 255);
        padding-top:7%;
        padding-bottom:7%;

        .content{
            width:100%;
            text-align: center;
            margin:0;
            display:flex;
            flex-direction: column;
            align-items: center;

            h1{
                font-weight: 800;
                font-size: 2rem;
            }
            h2{
                font-weight: 400;

                strong{
                    color:#2ABFBF;
                }
            }


            .card-holder{
                margin-top:4em;
                width:70%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;

                figure{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    width:31%;
                    padding:3em;
                    box-shadow: 0px 3px 10px #888888;

                    img{
                        width:70%;
                    }

                    figcaption{

                        > a{
                            background-color:#2ABFBF;
                            color:#fff;
                            padding:10px;
                            border-radius:15px;
                        }
                    }
                }
            }
        }
    }

    .about-page{
        background-color: $wpfGrey;
        //padding-top:4%;

        .content{
            width:50%;
            margin-left: auto;
            margin-right: auto;
            color:$wpfGrey-dark;

            > h2{
                text-align: center;
                margin-bottom:20px;
                font-size: 3.1rem;
                font-weight: 600;

                strong{
                    color:$wpfgreen;
                }
            }

            > p{
                width:100%;
                text-align: center;
            }

            > section{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top:5em;

                > figure{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    width:30%;
                    box-shadow: 0px 3px 6px #888888;
                    margin-bottom:30px;
                    padding:30px;

                    img{
                        width:8em;
                        height:8em;
                        border-radius: 8em;
                        margin-right: auto;
                        margin-left: auto;

                    }

                    figcaption{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        color:darken($wpfGrey-dark, 2);

                        h3{
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 600;
                        }

                        p{
                            font-size: 1rem;
                            text-align: justify;
                        }

                        address{
                            text-align: center;

                        }
                    }
                }
            }

            .hiring-box{
                display:flex;
                flex-direction: column;
                width:100%;
                background:linear-gradient(100deg, darken($wpfgreen, 0.9), lighten($wpfgreen-dark, 0.9));
                padding:2em;
                text-align: center;
                color:#fff;
                box-shadow: 0px 3px 6px #888888;
                margin-top:30px;

                h2{
                    width:70%;
                    margin-right: auto;
                    margin-left: auto;
                    font-weight: 600;
                    margin-bottom:30px;

                    strong{
                        color:orange;
                    }
                }

                p{
                    width:80%;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom:30px;
                }

                a{
                    background:#fff;
                    color:$wpfgreen;
                    padding:0.6em 1.5em;
                    border-radius: 1em;
                    width:20%;
                    margin-right: auto;
                    margin-left: auto;
                    font-size:1.2rem;
                    font-weight: 600;
                    box-shadow: 0px 3px 10px #555;
                    vertical-align: middle;
                }

                a:hover{
                    text-decoration: none;
                    box-shadow: 0px 3px 6px #555;
                    background:darken(#fff, 2);
                }

            }
        }
    }

    .special-page{
        background:#E4F1FE;

        .content{
            text-align: center;

            > div{
                padding-bottom:30px;
            }
        }

        hr{
            width:75%;
            border-color:#555;
        }

        ul > li{
            font-size: 2.5rem;
            padding:8px;
        }

        h3{
            font-size: 2.7rem;
        }
    }
}

.section-d{
    padding:0;
    color:#777;

    .container{
        margin:0;
        padding:0;
        width:100%;
    }

    .project-header{
        position:absolute;
        top:-30px;
        left:10%;
        z-index: 1002;
        background:rgba(0,0,0,0);
        width:40%;
        color:#6F7C82;
        transform:rotate(-5.5deg);
        text-align: center;

        h1, h3{
            margin:0 0 5px 0;
        }

        h1{
            font-weight: 800;
            font-size: 2.6rem;

            strong{
                color:#2ABFBF;
            }
        }

        h3{
            font-weight: 800;
            font-size: 1.8rem;
        }
    }

    .index-page, .project-page{
        padding:0 0 0 0;
        background-color:rgb(238, 238, 238);

        .content{
            text-align: center;
            width:100%;
            margin:0;

            .text-content{
                margin-left: auto;
                margin-right: auto;

                hr{
                    width:77%;
                    border-color: #ccc;
                }

                h3{
                    font-size: 2.7rem;
                }

                h4{
                    padding-bottom:4%;
                }
            }

            .thumbnail-holder{

                .thumb{
                    padding:0;
                }
                .thumbnail{
                    padding:0;
                    margin:0;
                    border:0;
                    -webkit-filter:brightness(60%);
                    filter:brightness(60%);
                }

                .thumbnail:hover{
                    -webkit-filter:brightness(100%);
                    filter:brightness(100%);
                    cursor: auto;
                }
                img{
                    width:100%;
                    height:360px;
                    margin:0;
                }
            }
        }
    }

    .project-page{
        padding-top: 14%;
        padding-bottom: 7%;
    }
}

.section-e{
    padding:0;
    color:#777;
    //border-bottom:#777 1px solid;

    .container{
        margin:0;
        width:100%;
        padding-top:3%;
        padding-bottom:7%;
    }

    .index-page{
        background-color:#F5F7F9;

        h4{
            font-size: 2.7rem;
            text-align: center;
            font-weight: 800;
        }

        hr{
            width:33%;
        }

        p{
            font-style: italic;
            font-size: 25px;
            font-weight: 100;
        }

        #quote-carousel{
            padding:0 10px 30px 10px;
            margin-top:30px;
            text-align: center;

            .carousel-indicators{
                right:50%;
                top:auto;
                bottom:-10px;
                margin-right:19px;

                li{
                    background-color: rgb(192,192,192);
                }

                .active{
                    background-color:rgb(51, 51, 51);
                    height:10px;
                    width:10px;
                    margin-bottom:1px;
                }
            }

            .carousel-inner > .item > .row > div > p{
                width:40%;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

.join-us-section{
    padding:0;
    background:linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(22,171,171,0.7) 33%, rgba(22,171,171,0.7) 66%, rgba(255,255,255,0.5) 100%), url(../img/startpage/wpf_bolle_2.jpg) no-repeat 0 -200px;
    background-size: cover;


    > article{
        padding:8% 0 13% 0;
        width:45%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color:#fff;

        h1{
            margin-bottom:30px;
            font-weight: 800;
            font-size: 2.6rem;
        }

        p{
            font-size: 1.9rem;
            margin-bottom:30px;
            font-weight: 600;
        }

        a{
            background-color:#2ABFBF;
            padding:17px;
            border-radius: 25px;
            color:#fff;
            font-size: 1.5rem;
            font-weight: 800;
            box-shadow: 0px 3px 10px #555;
            transition:box-shadow 0.3s, background-color 0.3s ease-in-out;
        }

        a:hover{
            text-decoration: none;
            background-color:darken(#2ABFBF, 0.3);
            box-shadow: 0px 3px 6px #555;
            transition:box-shadow 0.3s, background-color 0.3s ease-in-out;
        }
    }
}

.collaboration-section{
    padding:7% 0;
    margin:0;
    background:$wpfGrey;

    article{
        width:40%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        h1{
            font-size: 3rem;
            margin:0;
            font-weight: 600;

        }
        h2{
            font-size: 3rem;
            color:$wpfgreen;
            margin:0 0 1.5em 0;
            font-weight: 600;
        }

        p{
            width:92%;
            font-size: 1.7rem;
            margin-bottom: 2em;

            em{
                font-style: normal;
                color:$wpfgreen;
            }
        }

        a{
            background:$wpfgreen;
            padding:0.8em 1.7em;
            border-radius: 1.8em;
            color:#fff;
            font-weight: 600;
            font-size: 1.6rem;
            box-shadow: 0px 3px 10px #888888;
            transition: all 0.3s ease-in-out;

        }

        a:hover{
            text-decoration: none;
            background-color: darken($wpfgreen, 0.8);
            box-shadow: 0px 3px 6px #888888;
            transition: all 0.3s ease-in-out;
        }
    }
}

.section-f{
    padding:0;
    color:#777;

    .container{
        margin:0;
        width:100%;
        padding-top:7%;
        padding-bottom:7%;
    }

    .index-page{
        background-color:rgb(255, 255, 255);

        .cert{
            text-align: center;
        }
    }
}

.section-g{
    padding:0;
    color:#777;

    #cooperations{
        display:flex;
        flex-direction: row;
        justify-content: center;

        figure{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width:40%;
            padding:4em;

            img{
                padding-right:2em;
                width:34%;
            }

            figcaption{
                display:flex;
                flex-direction: column;

                h4{
                    font-weight: 600;
                }

                p{
                    line-height: 1.7em;
                }

                a{
                    position:absolute;
                    bottom:1.5em;
                    color:#777;
                    border:1px solid #777;
                    padding:8px 14px;
                    border-radius:17px;
                    font-size: 0.8em;
                    font-weight: 600;
                }
            }
        }

        figure:first-child{
            border-right:1px solid #ccc;
        }
    }
}


.slider-section{
    padding:3% 0 0 0;
    margin:0;
    background:$wpfGrey;

    h1{
        font-weight: 600;
        font-size: 1.8rem;
        color:$wpfGrey-dark;
    }

    h2{
        font-size: 2.5rem;
        color:$wpfGrey-dark;

        strong{
            color:$wpfgreen;
        }
    }

    > article{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom:10%;
    }

    > article > .slide-menu{
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        > input[type="radio"]{
            position:absolute;
            opacity:0;
            z-index: -1;
        }

        > label{
            width:13%;
            position:relative;
            text-align: center;
            border:1px solid $wpfGrey-dark;
            border-radius: 2em;
            margin:0.5em;
            letter-spacing: 1px;
            padding:0.6em;
            cursor:pointer;

            font-size: 1.3rem;
            color:$wpfGrey-dark;

        }

        > input[type="radio"]:checked + label{
            color:#fff;
            background:$wpfgreen;
            border-color:$wpfgreen;
            box-shadow: 0px 3px 10px #888;
        }

        > label{
            transition:all 0.4s ease;
        }
    }

    > article > .slides-holder{
        display:flex;
        flex-direction: row;
        align-items: center;
        width:90%;
        margin-top:2em;

        i{
            padding:1em;
            font-size: 5rem;
            color:$wpfGrey-dark;
            cursor:pointer;
        }

        > .slide-content-holder{
            width:100%;
            box-shadow: 0px 3px 10px #888;
            padding:5em 6em;
        }

        > .slide-content-holder > article{
            display:flex;
            flex-direction: column;
            //position:absolute;

            h1{
                font-size: 5rem;
                font-family: majestiBannerBold;
                font-weight: 600;
                color:#000;
                margin:0;
            }

            h2{
                font-size: 2.2rem;
                color:#000;
                margin:0 0 1em 0;
                font-family: majestiBannerBold;
            }

            p{
                text-align: justify;
                font-size: 1.6rem;
                line-height: 1.5em;
                margin-bottom:1em;

                strong{
                    font-weight: 600;
                }

                em{
                    color:$wpfgreen;
                    font-style: normal;
                    font-weight: 600;
                }
            }

            > img{
                width:15%;
                align-self: flex-end;
            }
        }
    }
}


.cross-section{
    padding:0;
    margin:0;
    width:100%;

    .container{
        padding:0;
        width:100%;
        background:$wpfGrey;

        .row{
            padding:0;
            margin:0;
            display:flex;
            width:100%;

            article{
                width:50%;
            }
        }

        .row:nth-child(1){
            flex-direction: row;


            article{
                padding:6em 10em;
                display:flex;
                flex-direction: column;
            }

            article:nth-child(1){
                color:$wpfGrey-dark;
                text-align: justify;

                h1{
                    font-size: 2rem;
                    font-weight: 800;
                }

                h2{
                    font-size: 4rem;
                    color:$wpfgreen;
                    font-weight: 800;
                }

                p{
                    font-size: 1.5rem;
                    margin-bottom:2em;

                    strong{
                        font-weight: 600;
                    }
                }

                a{
                    background:$wpfgreen;
                    padding:0.5em 1em;
                    font-size: 1.5rem;
                    border-radius: 2.5em;
                    width:30%;
                    font-weight: 600;
                    color:#fff;
                    text-align: center;
                    box-shadow:0px 3px 10px #888;
                }
            }

            article:nth-child(2){
                background: url(../img/services/Group21.jpg) no-repeat;
                background-size: cover;
                color:#fff;

                h1{
                    font-size: 1rem;
                    text-align: center;

                    strong{
                        font-weight: 800;
                    }
                }

                h2{
                    font-size: 3rem;
                    font-weight: 800;
                    text-align: center;
                    margin:0 0 1em 0;

                    em{
                        color:$wpfgreen;
                        font-style: normal;
                    }
                }

                .theCross{
                    width:100%;
                    display:flex;
                    flex-wrap: wrap;

                    div{
                        width:50%;
                        padding:1.2em;
                        display:flex;
                        flex-direction: column;
                        align-items: center;


                        h1, h2, h3{
                            width:90%;
                            margin:0;
                        }

                        h1{
                            font-size: 1rem;
                        }
                        h2{
                            font-size: 3rem;
                        }
                        h3{
                            font-size: 1.6rem;
                        }
                    }

                    .top-left{
                        border-right:1px solid #fff;
                    }
                    .top-right{
                        border-bottom: 1px solid #fff;;
                    }
                    .down-left{
                        border-top: 1px solid #fff;
                    }
                    .down-right{
                        border-left: 1px solid #fff;
                    }
                }
            }
        }

        .row:nth-child(2){
            flex-direction: row-reverse;


            article{
                padding:7em 7em 8em 7em;
                display:flex;
                flex-direction: column;
            }

            article:nth-child(1){
                color:$wpfGrey-dark;

                h1{
                    font-size: 2.8rem;
                    width:80%;

                    em{
                        color:$wpfgreen;
                        font-style: normal;
                        font-weight: 600;
                    }
                }

                .listbox{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width:80%;

                    ul{
                        padding:0.8em 0;
                        margin:0;
                        width:48%;
                        list-style:none;

                        li{
                            width:100%;
                            text-align: justify;
                            font-size: 2.3rem;
                            background:url(../img/icons/startpage/material.svg) no-repeat 0 0;
                            background-position:left;
                            padding-left:1.6em;
                            margin:0.9em 0;
                        }
                    }
                }

                > p {
                    font-size: 1.6rem;
                    text-align: justify;
                    line-height: 1.2em;
                }
            }

            article:nth-child(2){
                background: url(../img/services/Group23.jpg) no-repeat 0 -105px;
                background-size: cover;
                color:#fff;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .frame-box{
                    border:12px solid #fff;
                    text-align: center;
                    width:100%;
                    height:90%;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    > h1{
                        padding:0.5em 0.5em 0.5em 0.5em;
                        font-weight: 600;
                        font-family: majestiBannerBold;
                        font-size: 4.45rem;
                    }

                    > a{
                        padding:0.6em 1.3em;
                        border:1px solid #fff;
                        border-radius: 2em;
                        text-align: center;
                        color:#fff;
                        transition: all 0.4s ease;
                    }

                    > a:hover{
                        text-decoration: none;
                    }

                }

            }
        }

    }
}

.wpf-services-section{
    padding:0;
    margin:0;
    background:#fff;

    .row{
        width:100%;
        padding:4% 0;

        > article.love-to-help{
            width:60%;
            display:flex;
            flex-direction: column;
            padding:3em;
            background:$wpfGrey;
            margin-right: auto;
            margin-left: auto;
            box-shadow: 0px 3px 10px #888;
            color:$wpfGrey-dark;

            > h1{
                font-size: 1.3rem;
                text-align: center;
                color:#000;

                strong{
                    font-weight: 600;
                }
            }

            > h2{
                font-size: 2.6rem;
                font-weight: 600;
                text-align: center;

                em{
                    color:$wpfgreen;
                    font-style: normal;
                }
            }

            > h3{
                text-align: center;
                width:50%;
                margin-right: auto;
                margin-left: auto;
                font-size: 1.6rem;
            }

            > .listbox{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width:80%;
                padding:2em;
                margin-right: auto;
                margin-left: auto;

                ul{
                    width:33%;
                    color:$wpfgreen;
                    list-style: none;
                    text-align: center;
                    font-weight: 600;
                    padding:0;

                    li{
                        font-size: 1.8rem;
                        margin:1em 0;
                    }
                }
            }

            > img{
                width:15%;
                align-self: flex-end;
            }
        }
    }
}

.wpf-tools-section{
    padding:0;
    margin:0;
    background:#fff;

    .row{
        width:100%;
        padding:4% 0;
        color:$wpfGrey-dark;
        display: flex;
        flex-direction: column;
        align-items: center;

        > h1 {
            font-weight: 600;
            font-size: 1.6rem;
            text-align: center;
        }

        > h2{
            font-size: 3rem;
            font-weight: 600;

            em{
                color:$wpfgreen;
                font-style: normal;
            }
        }

        > .card-holder{
            margin-top:4em;
            width:70%;
            display:flex;
            flex-direction: row;
            justify-content: space-between;

            figure{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width:31%;
                padding:3em;
                box-shadow: 0px 3px 10px #888888;

                img{
                    width:70%;
                }

                figcaption{
                    display:flex;
                    flex-direction: column;
                    text-align: center;

                    > a{
                        background-color:#2ABFBF;
                        color:#fff;
                        padding:0.5em 0.3em;
                        border-radius:2em;
                        width:80%;
                        margin-right: auto;
                        margin-left: auto;
                        font-weight: 600;
                        box-shadow: 0px 3px 10px #888;
                    }

                    > a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


.visit-kort{
    padding:0;
    margin:0;
    background:#fff;

    .row{
        width:100%;
        padding-bottom:4%;

        > h1{
            font-weight: 600;
            color:$wpfGrey-dark;
            text-align: center;
            font-size: 2rem;
        }

        > .business-cards{
            width:100%;
            display:flex;
            flex-direction: row;
            align-items: center;justify-content: space-around;

            > figure{
                display:flex;
                flex-direction: row;

                box-shadow: 0px 3px 10px #888;
                width:25%;
                //margin-right: auto;
                //margin-left: auto;
                //padding:1.4em;

                > img{
                    width:30%;
                    height:10%;
                    padding:1.2em;
                }

                > figcaption{
                    width:55%;
                    padding:1.2em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h1{
                        margin:0;
                        font-size: 1.6rem;
                        color:$wpfgreen;
                        font-weight: 600;
                    }

                    p{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
