@mixin backgrounds(){
    background-attachment: fixed;
    background-size:cover !important;
    background-position:center;
    background-blend-mode:screen;
}

html, body{
    margin:0;
    height:100%;
}

.parallax-showcase{
    height:100%;
    margin:0;
    padding:0;

    article{
        position:fixed;
        width:40%;
        background:#fff;
        color:#333;
        padding:20px;
        top:15%;
        left:5%;
        z-index:800;
    }



    .paralax-1{
        position:relative;
        height:100%;
        @include backgrounds();

        &:nth-of-type(1){
            height:100%;
            width:100%;
            position:relative;
            overflow:hidden;
            @include backgrounds();
            background-image: url(../img/project/project_1/uggleberget_1.jpg);
        }
        &:nth-of-type(2){
            background-image: url(../img/project/project_1/uggleberget_2.jpg);
        }
        &:nth-of-type(3){
            background-image: url(../img/project/project_1/uggleberget_3.jpg);
        }
        &:nth-of-type(4){
            background-image: url(../img/project/project_1/uggleberget_4.jpg);
        }
        &:nth-of-type(5){
            background-image: url(../img/project/project_1/uggleberget_5.jpg);
        }
        &:nth-of-type(6){
            background-image: url(../img/project/project_1/uggleberget_6.jpg);
        }
        &:nth-of-type(7){
            background-image: url(../img/project/project_1/uggleberget_7.jpg);
        }
        &:nth-of-type(8){
            background-image: url(../img/project/project_1/uggleberget_8.jpg);
        }
        &:nth-of-type(9){
            background-image: url(../img/project/project_1/uggleberget_9.jpg);
        }
    }

    .paralax-2{
        position:relative;
        height:100%;
        @include backgrounds();

        &:nth-of-type(1){
            height:100%;
            width:100%;
            position:relative;
            overflow:hidden;
            @include backgrounds();
            background-image: url(../img/project/project_2/skans_1.jpg);
        }
        &:nth-of-type(2){
            background-image: url(../img/project/project_2/skans_2.jpg);
        }
        &:nth-of-type(3){
            background-image: url(../img/project/project_2/skans_3.jpg);
        }
        &:nth-of-type(4){
            background-image: url(../img/project/project_2/skans_4.jpg);
        }
        &:nth-of-type(5){
            background-image: url(../img/project/project_2/skans_5.jpg);
        }
        &:nth-of-type(6){
            background-image: url(../img/project/project_2/skans_6.jpg);
        }
        &:nth-of-type(7){
            background-image: url(../img/project/project_2/skans_7.jpg);
        }
        &:nth-of-type(8){
            background-image: url(../img/project/project_2/skans_8.jpg);
        }

    }

    .paralax-3{
        position:relative;
        height:100%;
        @include backgrounds();

        &:nth-of-type(1){
            height:100%;
            width:100%;
            position:relative;
            overflow:hidden;
            @include backgrounds();
            background-image: url(../img/project/project_3/bolle_1.jpg);
        }
        &:nth-of-type(2){
            background-image: url(../img/project/project_3/bolle_2.jpg);
        }
        &:nth-of-type(3){
            background-image: url(../img/project/project_3/bolle_3.jpg);
        }
        &:nth-of-type(4){
            background-image: url(../img/project/project_3/bolle_4.jpg);
        }
        &:nth-of-type(5){
            background-image: url(../img/project/project_3/bolle_5.jpg);
        }
        &:nth-of-type(6){
            background-image: url(../img/project/project_3/bolle_6.jpg);
        }
    }

    .paralax-4{
        position:relative;
        height:100%;
        @include backgrounds();

        &:nth-of-type(1){
            height:100%;
            width:100%;
            position:relative;
            overflow:hidden;
            @include backgrounds();
            background-image: url(../img/project/project_4/hindas_1.jpg);
        }
        &:nth-of-type(2){
            background-image: url(../img/project/project_4/hindas_2.jpg);
        }
    }

    .paralax-5{
        position:relative;
        height:100%;
        @include backgrounds();

        &:nth-of-type(1){
            height:100%;
            width:100%;
            position:relative;
            overflow:hidden;
            @include backgrounds();
            background-image: url(../img/project/project_1/uggleberget_1.jpg);
        }
        &:nth-of-type(2){
            background-image: url(../img/project/project_1/uggleberget_2.jpg);
        }
        &:nth-of-type(3){
            background-image: url(../img/project/project_1/uggleberget_3.jpg);
        }
        &:nth-of-type(4){
            background-image: url(../img/project/project_1/uggleberget_4.jpg);
        }
        &:nth-of-type(5){
            background-image: url(../img/project/project_1/uggleberget_5.jpg);
        }
        &:nth-of-type(6){
            background-image: url(../img/project/project_1/uggleberget_6.jpg);
        }
        &:nth-of-type(7){
            background-image: url(../img/project/project_1/uggleberget_7.jpg);
        }
        &:nth-of-type(8){
            background-image: url(../img/project/project_1/uggleberget_8.jpg);
        }
        &:nth-of-type(9){
            background-image: url(../img/project/project_1/uggleberget_9.jpg);
        }
    }
}
